/*theme Setting*/
@font-face {
  font-family: 'helveticaregular';
  src: url("../../assets/fonts/helvetica-webfont.woff2") format("woff2"), url("../../assets/fonts/helvetica-webfont.ttf") format("ttf"), url("../../assets/fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*All Cross browser CSS3 mixins*/
/*End All Cross browser CSS3 mixins*/
body {
  font-family: "helveticaregular";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helveticaregular";
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 2px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

p,
span {
  font-family: "helveticaregular";
  font-size: 20px;
  line-height: 25px;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  font-family: "helveticaregular";
  text-decoration: none;
}

.section-header {
  padding-bottom: 25px;
}

section {
  padding: 80px 0;
}

.section-title {
  margin: 0 0 60px;
}

.section-title h2 {
  margin: 0 0 30px;
}

.text-center {
  text-align: center;
}

.title h2 {
  text-align: center;
  color: #fff;
}

.shadow-title h2 {
  font-size: 90px;
  line-height: 108px;
  font-stretch: 40%;
  font-weight: bold;
  z-index: 1;
  letter-spacing: 4px;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
}

.shadow-text {
  position: absolute;
  font-size: 200px;
  left: 50%;
  top: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  color: rgba(238, 235, 207, 0.14);
  letter-spacing: 4px;
  font-weight: bold;
  width: 100%;
}

.pic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(1, 1, 1, 0.4);
}

/*Back To Top Css*/
#backTop {
  right: 30px;
  position: fixed;
  z-index: 999999;
  bottom: 130px;
}

#backTop .back-top {
  color: #fff;
  background: #0584D1;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border-radius: 50%;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#backTop .back-top.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

/*Svg icon Css*/
svg .cls-2 {
  fill: #030303;
  stroke: #000;
}

.react-tabs__tab--selected .cls-2 {
  fill: #0584D1;
  stroke: #0584D1;
}

.emoji .cls-1,
.emoji .cls-2,
.emoji .cls-3 {
  fill: none;
}

.emoji .cls-2,
.emoji .cls-3,
.emoji .cls-4 {
  stroke: #000;
}

.emoji .cls-2 {
  stroke-width: 2.5px;
}

.emoji .cls-3 {
  stroke-width: 2px;
}

.emoji .cls-4 {
  fill: #030303;
}

.emoji .cls-5 {
  stroke: none;
}

/*End svg Icon css */
/*End Back To Top Css*/
.mobile-frame {
  position: relative;
}

.mobile-frame .mobile-frame-content {
  position: absolute;
  top: 30px;
  left: 37px;
  z-index: 99;
}

.mobile-frame .mobile-frame-content video {
  border-radius: 36px;
  border-top: 3px solid #000;
}

/*Start Common css for Apps logo*/
.apps-logo {
  list-style-type: none;
}

.apps-logo li {
  display: inline-block;
}

.apps-logo li a {
  display: block;
}

/*End Common css for Apps logo*/
/*Start Common Photo with content Section*/
.photo-with-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-with-content .title .title-inner {
  width: 100%;
}

/* common Tab content css*/
.tab-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-content .react-tabs__tab-panel--selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-content .react-tabs__tab-list {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 0;
  margin: 40px auto 0;
}

.tab-content .react-tabs__tab-list .react-tabs__tab {
  border: 0;
  margin: 0 50px;
}

.tab-content .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected span {
  color: #0584D1;
}

.tab-content .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected .img-hover {
  position: relative;
}

.tab-content .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected .img-hover:after {
  background: none;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-transition: 10px;
  -o-transition: 10px;
}

.tab-content .react-tabs__tab-list .react-tabs__tab img {
  display: block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-transition: 10px;
  -o-transition: 10px;
}

.tab-content .react-tabs__tab-list .react-tabs__tab span {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
}

.tab-content .react-tabs__tab-list .react-tabs__tab:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab-content .react-tabs__tab-list .react-tabs__tab .img-hover {
  position: relative;
}

.tab-content .react-tabs__tab-list .react-tabs__tab .img-hover:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-transition: 10px;
  -o-transition: 10px;
}

/* Common Tab content css*/
/*End photo with content Section*/
.back-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#appFeature h2 {
  letter-spacing: 3px;
}

#getToday {
  background-image: url("../img/get-today-bg.png");
  padding: 150px 0 150px;
  position: relative;
}

#getToday .shadow-text {
  top: 185px;
  z-index: 1;
}

#getToday p {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  margin-top: 90px;
  text-align: justify;
}

#getToday ul {
  margin-top: 100px;
}

#getToday ul li {
  list-style-type: none;
  display: inline-block;
}

#getToday ul li:first-child {
  margin-right: 22px;
}

#getToday ul li img {
  width: 230px;
}

#getToday .mobile-frame {
  float: right;
}

#mainMenu {
  padding: 25px 0;
}

#mainMenu .nav-item .nav-link {
  font-size: 18px;
  color: #fff;
}

#mainMenu .nav-item .nav-link.active,
#mainMenu .nav-item .nav-link:hover {
  color: #0C89D5;
}

#intro {
  background-image: url("../img/intro-bg.png");
  padding: 250px 0 200px;
}

#intro h1 {
  color: #0C89D5;
  font-size: 70px;
  line-height: 84px;
  margin-bottom: 30px;
  text-align: justify;
  font-weight: bold;
  letter-spacing: 5px;
}

#intro p {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

#intro ul {
  margin-top: 100px;
}

#intro ul li {
  list-style-type: none;
  display: inline-block;
}

#intro ul li:first-child {
  margin-right: 50px;
}

/*Start Common photo background Section*/
.photo-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 0;
}

.photo-area .title {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-area .title .title-inner {
  width: 100%;
}

.photo-area .title .title-inner h2 {
  font-size: 90px;
  line-height: 108px;
  font-stretch: 40%;
  font-weight: bold;
  z-index: 1;
  letter-spacing: 4px;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
}

.photo-area .title .title-inner h2:before {
  position: absolute;
  font-size: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  color: rgba(238, 235, 207, 0.14);
  letter-spacing: 4px;
  font-weight: bold;
  width: 100%;
}

.content-area {
  padding: 80px 0;
}

.content-area .photo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-area .photo-content h3 {
  font-size: 45px;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: 5px;
}

.content-area .photo-content p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  text-align: justify;
}

/*Start Common photo background Section*/
/*Start Filter section*/
#threedSlider .video-template video {
  max-width: 100%;
}

#threedSlider .slide-img {
  box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
  -ms-transition: 0 0 20px black;
  -o-transition: 0 0 20px black;
}

#threedSlider .css-1qzevvg {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  width: 100%;
  margin: 0;
}

#threedSlider .css-1qzevvg img {
  width: 15px;
  height: 20px;
  cursor: pointer;
}

#threedSlider div.css-1qzevvg img:first-child {
  margin-right: 30rem !important;
}

/*End Filter section*/
/*Start slide section*/
#Slide {
  padding: 0;
}

#Slide .photo-area {
  background-image: url("../img/slide-bg.jpg");
}

#Slide .content-area .mobile-frame {
  float: right;
}

/*End Slide section*/
/*Start Photo Edit section*/
#photoEdit {
  padding: 0;
}

#photoEdit .photo-area {
  background-image: url("../img/photo-edit-bg.jpg");
}

#photoEdit .content-area ul li {
  font-size: 18px;
  line-height: 35px;
  padding-left: 10px;
  text-indent: -10px;
}

#photoEdit .content-area ul li i {
  padding-right: 8px;
  font-size: 12px;
}

/*End Photo Edit section*/
/*Start Effect section*/
#effect {
  padding: 0;
}

/*End Effect section*/
/*Start Frame section*/
#frame {
  padding: 0;
}

#frame .content-area .mobile-frame {
  width: 418px;
  float: right;
}

#frame .frame-slider video {
  max-width: 100%;
}

#frame .frame-slider li {
  width: 63px;
  height: 8px;
  background: #000;
  margin: 0 1px;
}

#frame .frame-slider li.slick-active {
  background: #0584D1;
}

#frame .frame-slider li button {
  width: inherit;
  height: inherit;
}

#frame .frame-slider li button:before {
  content: '';
}

/*End Frame section*/
/*Start Filter section*/
#filter {
  padding: 0;
}

#filter .tab-content .img-hover {
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-transition: 10px;
  -o-transition: 10px;
}

#filter .tab-content #filter-1:after {
  background: rgba(207, 60, 60, 0.36);
}

#filter .tab-content #filter-2:after {
  background: rgba(207, 60, 60, 0.36);
}

#filter .tab-content #filter-3:after {
  background: rgba(207, 197, 60, 0.36);
}

#filter .tab-content #filter-4:after {
  background: rgba(60, 207, 89, 0.36);
}

#filter .tab-content #filter-5:after {
  background: rgba(60, 85, 207, 0.36);
}

#filter .tab-content .react-tabs__tab--selected #filter-1.img-hover,
#filter .tab-content .react-tabs__tab--selected #filter-2.img-hover,
#filter .tab-content .react-tabs__tab--selected #filter-3.img-hover,
#filter .tab-content .react-tabs__tab--selected #filter-4.img-hover,
#filter .tab-content .react-tabs__tab--selected #filter-5.img-hover {
  border: 2px solid #0C89D5;
}

#filter .tab-content .react-tabs__tab--selected #filter-1:after,
#filter .tab-content .react-tabs__tab--selected #filter-2:after,
#filter .tab-content .react-tabs__tab--selected #filter-3:after,
#filter .tab-content .react-tabs__tab--selected #filter-4:after,
#filter .tab-content .react-tabs__tab--selected #filter-5:after {
  background: none;
}

/*End Filter section*/
/*Client Review Css*/
#review {
  background: #fff;
}

#review .slick-slider {
  padding-bottom: 50px;
}

#review .slick-slider .slick-dots {
  bottom: 0;
}

#review .slick-slider .slick-dots li button::before {
  font-size: 12px;
}

#review .slick-slider h3 {
  font-size: 22px;
  font-weight: bold;
}

#review .slick-slider p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
}

#review .slick-slider span {
  font-size: 14px;
  line-height: 19px;
}

#review .slick-slider ul.review-icon {
  margin: 30px 0 10px;
}

#review .slick-slider ul.review-icon li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

#review .slick-slider ul.review-icon li i {
  color: #0C89D5;
}

/*End Client Review Css*/
/*Start pricing Review Css*/
#pricing {
  background-image: url("../img/pricing-bg.jpg");
}

#pricing .title-inner {
  color: #fff;
  margin-bottom: 80px;
}

#pricing .title-inner .shadow-text {
  font-size: 140px;
}

#pricing .subconetnt h5 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 80px;
  color: #fff;
}

#pricing .subconetnt p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 60px;
}

#pricing .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .price-container .price-panel {
  background: #fff;
  margin: 0 85px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-transition: 20px;
  -o-transition: 20px;
  border: 1px solid #707070;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  width: 330px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pricing .price-container .price-panel:hover {
  background: rgba(5, 132, 209, 0.75);
}

#pricing .price-container .price-panel:hover .price-inner h5,
#pricing .price-container .price-panel:hover .price-inner h4,
#pricing .price-container .price-panel:hover .price-inner p {
  color: #fff;
}

#pricing .price-container .price-panel:hover .price-inner a {
  background: none;
  border: 2px solid #fff;
}

#pricing .price-container .price-panel .price-inner {
  padding: 35px 50px;
}

#pricing .price-container .price-panel .price-inner h5 {
  margin-top: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pricing .price-container .price-panel .price-inner h4 {
  margin-top: 25px;
  font-size: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pricing .price-container .price-panel .price-inner .cost {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pricing .price-container .price-panel .price-inner .cost span {
  margin-top: -10px;
  display: block;
  margin-left: 0;
  font-weight: 100;
  margin-right: 15px;
  float: left;
  font-size: 35px;
}

#pricing .price-container .price-panel .price-inner .btn {
  background: #04A3DD;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-transition: 20px;
  -o-transition: 20px;
  font-size: 20px;
  padding: 0 45px;
  height: 45px;
  line-height: 42px;
  font-weight: bold;
  letter-spacing: 2px;
  clear: both;
  margin-top: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #04A3DD;
}

/*End pricing Review Css*/
/*Start Faqs Css*/
#faqs .accordion-menu .card {
  border: 0;
}

#faqs .accordion-menu .card .card-header {
  background: #0584D1;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 14x;
  -webkit-border-radius: 14x;
  -moz-border-radius: 14x;
  -ms-transition: 14x;
  -o-transition: 14x;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -ms-transition: 0 3px 6px rgba(0, 0, 0, 0.16);
  -o-transition: 0 3px 6px rgba(0, 0, 0, 0.16);
}

#faqs .accordion-menu .card .card-header h5 {
  color: #fff;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 1px;
}

#faqs .accordion-menu .card .card-header i {
  float: right;
}

#faqs .accordion-menu .card .card-body p {
  font-size: 15px;
  line-height: 22px;
}

/*End Faqs Css*/
/*Start Get in Touch Css*/
#getInTouch {
  background-image: url("../img/get-in-touch-bg.png");
  background-size: auto;
}

#getInTouch .pic-overlay {
  background: rgba(1, 1, 1, 0.5);
}

#getInTouch .title-inner {
  color: #fff;
  margin-bottom: 100px;
}

#getInTouch .title-inner h2 .shadow-text {
  font-size: 180px;
  top: 30px;
}

#getInTouch .contact-info h3 {
  color: #fff;
  font-size: 24px;
  margin: 0px 0 25px;
}

#getInTouch .contact-info .weblink {
  margin: 40px 0 40px;
}

#getInTouch .contact-info .weblink a {
  display: block;
  text-decoration: none;
  color: #fff;
}

#getInTouch .contact-info .apps-logo {
  margin-top: 70px;
}

#getInTouch .contact-info .apps-logo li:first-child {
  margin-right: 22px;
}

#getInTouch .contact-info .apps-logo li img {
  width: 190px;
}

#getInTouch .contact-form .form-group {
  margin-top: 25px;
}

#getInTouch .contact-form .form-group:first-child {
  margin-top: 0;
}

#getInTouch .contact-form input,
#getInTouch .contact-form textarea,
#getInTouch .contact-form button {
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-transition: 17px;
  -o-transition: 17px;
  height: 56px;
  border: 2px solid #0C89D5;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  font-family: "helveticaregular";
}

#getInTouch .contact-form textarea {
  height: 220px;
}

#getInTouch .contact-form button {
  background: #0584D1;
  border: none;
  height: 42px;
  padding: 0 40px;
}

/*End  Get in Touch Css*/
/*Start Footer Css*/
#footer {
  position: relative;
  background: #161D24;
  padding: 38px 0;
}

#footer .footer-menu ul {
  margin-left: -15px;
}

#footer .footer-menu ul li {
  padding: 0 15px;
  color: #fff;
  font-size: 15px;
  border-right: 1px solid #fff;
}

#footer .footer-menu ul li:last-child {
  border-right: none;
}

#footer .footer-menu ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 32px;
}

#footer .social-icon ul li {
  display: inline-block;
}

#footer .social-icon ul li a.follows {
  text-decoration: none;
}

#footer .social-icon ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  line-height: 32px;
}

#footer .social-icon ul li a i {
  width: 32px;
  height: 32px;
  background: rgba(5, 132, 209, 0.8);
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-transition: 50%;
  -o-transition: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer .social-icon ul li a i:hover {
  background: #0584d1;
}

/*End Footer Css*/
/*Feature*/
.feature-box {
  position: relative;
  z-index: 9;
  min-height: 530px;
}

.feature-box .feature-1 {
  position: absolute;
  left: 0;
}

.feature-box .feature-2 {
  position: absolute;
  bottom: 0;
  left: 23.5%;
}

.feature-box .feature-3 {
  position: absolute;
  right: 23.5%;
}

.feature-box .feature-4 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.feature-box li {
  display: inline-block;
  position: relative;
  width: 165px;
  height: 285px;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: .5s border-color;
  transition: .5s border-color;
  cursor: pointer;
  margin: 10px 84px;
  opacity: 1;
}

.feature-box li:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.feature-box li:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.feature-box li:after, .feature-box li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + 4px);
  border-bottom: inherit;
  border-top: inherit;
  bottom: -2px;
}

.feature-box li .content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  color: #000;
  text-align: center;
  font-size: 1rem;
  z-index: 2;
}

.feature-box li .hover {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.feature-box li:hover .hover {
  background: -webkit-gradient(linear, left top, right top, from(#5BB1E5), to(#002BFF));
  background: linear-gradient(to right, #5BB1E5, #002BFF);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.feature-box li:nth-child(even) {
  margin-top: 100px;
}

.feature-box li h3 {
  color: #000;
}

.feature-box li p {
  color: #000;
}

.feature-box li a {
  color: #000;
}

/*Responsive css*/
/*# sourceMappingURL=main.css.map */