/*theme Setting*/
@font-face {
    font-family: 'helveticaregular';
    src: url('../../assets/fonts/helvetica-webfont.woff2') format('woff2'),
        url('../../assets/fonts/helvetica-webfont.ttf') format('ttf'),
        url('../../assets/fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$heading-font:'helveticaregular';
$body-font: 'helveticaregular';
$theme-color:#0584D1;
$white:#fff;
$black:#000;
$grey-white:#ddd;
$grey-black:#f8f8f8;
$blue:#0C89D5;
$footer-bg:#161D24;
$social-icon:#1DA1F2;
$yellow:#FFF710;


/*Animation Color Code*/
$animation-border:rgba(#99C9E6, .13);
$gardient-pink1:#B56EEB;
$gardient-pink2:#5400FF;
$gardient-blue1:#6EBCEB;
$gardient-blue2:#0066FF;
$gardient-frame1:#5BB1E5;
$gardient-frame2:#002BFF;




/*End Animation Color code*/

/*All Cross browser CSS3 mixins*/
@mixin linear-gradient($direction, $start-color, $end-color) {
    background: -webkit-linear-gradient($direction, $start-color, $end-color);
    background: -moz-linear-gradient($direction, $start-color, $end-color);
    background: -ms-linear-gradient($direction, $start-color, $end-color);
    background: -o-linear-gradient($direction, $start-color, $end-color);
    background: linear-gradient($direction, $start-color, $end-color);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin box-shadow($left, $top, $blur, $color) {
    box-shadow: $left $top $blur $color;
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -ms-box-shadow: $left $top $blur $color;
    -o-box-shadow: $left $top $blur $color;
}

@mixin translate($args) {
    transform: translate($args);
    transform: -webkit-translate($args);
    transform: -moz-translate($args);
    transform: -ms-translate($args);
    transform: -o-translate($args);
}

/*End All Cross browser CSS3 mixins*/
body {
    font-family: $body-font;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

p,
span {
    font-family: $body-font;
    font-size: 20px;
    line-height: 25px;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    font-family: $body-font;
    text-decoration: none;
    color: $black;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        text-decoration: none;
        color: $theme-color;
    }
}

a:focus,
button:focus,
span:focus {
    outline: 0;
}

.section-header {
    padding-bottom: 25px;
}

section {
    padding: 80px 0;
}

.section-title {
    margin: 0 0 60px;

    h2 {
        margin: 0 0 30px;
    }
}

.text-center {
    text-align: center;
}

.title {
    h2 {
        text-align: center;
        color: $white;
    }
}

.shadow-title {

    h2 {
        font-size: 90px;
        line-height: 108px;
        font-stretch: 40%;
        font-weight: bold;
        z-index: 1;
        letter-spacing: 4px;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;

    }
}

.shadow-text {
    position: absolute;
    font-size: 200px;
    top: 30px;
    z-index: 0;
    left: 0;
    color: rgba(238, 235, 207, .14);
    letter-spacing: 4px;
    font-weight: bold;
    width: 100%;
}


.pic-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(1, 1, 1, .40);
}

/*Back To Top Css*/
#backTop {
    right: 30px;
    position: fixed;
    z-index: 999999;
    bottom: 130px;

    .back-top {
        color: #fff;
        background: $theme-color;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        border-radius: 50%;
        display: none;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;

        &.active {
            @include transition(all 0.3s ease-in-out);
            display: block;


        }
    }


}

/*Modal customize css*/
.modal-open {
    .modal {
        overflow-y: hidden;
        padding: 0 !important;



        .modal-content {
            background: #f8f9fa;
        }

        .close {
            color: $theme-color;
            opacity: 1;

            span {
                color: $theme-color;
                opacity: 1;
            }
        }

        .modal-body {
            max-height: calc(100vh - 260px);
            overflow-y: auto;

            p {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: .5px;
                font-weight: normal;
                font-family: $body-font;
                text-align: justify;
            }

            ul {
                padding: 0 0 20px 20px;
                list-style-type: none;

                li {
                    padding: 5px 0;
                }
            }
        }

        .modal-footer {
            button {
                &.btn-danger {
                    background-color: $theme-color;
                    border-color: $theme-color;
                    box-shadow: none;

                    &:focus,
                    &:active {
                        background-color: $theme-color;
                        border-color: $theme-color;
                        box-shadow: none;
                    }
                }

            }
        }
    }
}

.modal.fade .modal-dialog {
    transition: transform .75s ease-in-out;
    transform: translate3d(0, 100vh, 0);
}

.modal.show .modal-dialog {
    transform: none;
}

/*End Modal customize css*/
/*Svg icon Css*/
svg {

    .cls-2 {
        fill: #030303;
    }
}

.react-tabs__tab--selected {
    .cls-2 {
        fill: $theme-color;
    }
}

.emoji {

    .cls-1,
    .cls-2,
    .cls-3 {
        fill: none;
    }

    .cls-2,
    .cls-3,
    .cls-4 {}

    .cls-2 {}

    .cls-3 {}

    .cls-4 {
        fill: #030303;
    }

    .cls-5 {}
}

/*End svg Icon css */

/*End Back To Top Css*/
.mobile-frame {
    position: relative;

    .mobile-frame-content {
        position: absolute;
        top: 30px;
        left: 37px;
        z-index: 99;

        video {
            @include border-radius(36px);
            border-top: 3px solid #000;
        }

        img {
            @include border-radius(36px);
        }
    }
}

/*Start Common css for Apps logo*/
.apps-logo {
    list-style-type: none;

    li {
        display: inline-block;

        a {
            display: block;
        }
    }
}

/*End Common css for Apps logo*/

/*Start Common Photo with content Section*/
.photo-with-content {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    .title {

        .title-inner {
            width: 100%;

            // h2 {
            //     font-size: 90px;
            //     line-height: 108px;
            //     font-stretch: 40%;
            //     font-weight: bold;
            //     z-index: 1;
            //     letter-spacing: 4px;
            //     margin: 0 auto;
            //     display: block;
            //     text-align: center;
            //     position: relative;

            //     .shadow-text {
            //         position: absolute;
            //         font-size: 200px;
            //         left: 50%;
            //         transform: translateX(-50%);
            //         z-index: -1;
            //         color: rgba(238, 235, 207, .14);
            //         letter-spacing: 4px;
            //         font-weight: bold;
            //         width: 100%;
            //     }
            // }
        }
    }
}

/* common Tab content css*/
.tab-content-info {
    display: flex;
}

.tab-content {
    .react-tabs__tab-panel--selected {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .react-tabs__tab-list {
        display: block;
        margin: 0 auto;
        text-align: center;
        border: 0;
        margin: 40px auto 0;

        .react-tabs__tab {
            border: 0;
            margin: 0 50px;

            &.react-tabs__tab--selected {
                span {
                    color: $theme-color;
                }

                .img-hover {
                    position: relative;

                    &:after {
                        background: none;
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        @include border-radius(10px);
                    }
                }
            }

            img {
                display: block;
                @include border-radius(10px);
            }

            span {
                display: block;
                font-size: 20px;
                line-height: 30px;
                margin-top: 25px;
                font-weight: bold;
            }

            &:focus {
                box-shadow: none;
            }

            .img-hover {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    @include border-radius(10px);
                }
            }
        }

    }
}

/* Common Tab content css*/
/*End photo with content Section*/
.back-img {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#appFeature {
    h2 {
        letter-spacing: 3px;
    }
}

#getToday {
    background-image: url("../img/get-today-bg.png");
    padding: 150px 0 150px;
    position: relative;

    .shadow-text {
        top: 185px;
        z-index: 1;
    }

    // h2 {
    //     font-size: 90px;
    //     line-height: 108px;
    //     font-stretch: 40%;
    //     font-weight: bold;
    //     position: relative;
    //     width: 1072px;
    //     z-index: 1;
    //     letter-spacing: 5px;
    //     margin: 0 auto;
    //     display: block;
    //     text-align: left;

    //     &:before {
    //         content: "Get it Today";
    //         position: absolute;
    //         font-size: 185px;
    //         left: 0;
    //         right: 0;
    //         z-index: -1;
    //         color: rgba(238, 235, 207, .14);
    //         letter-spacing: 5px;
    //     }

    // }

    p {
        font-size: 20px;
        line-height: 25px;
        color: $white;
        margin-top: 90px;
        text-align: justify;
    }

    ul {
        margin-top: 100px;

        li {
            list-style-type: none;
            display: inline-block;

            &:first-child {
                margin-right: 22px;
            }

            img {
                width: 230px;
            }
        }
    }

    .mobile-frame {
        float: right;
    }

    .mobile-frame-content {
        top: 32px;
    }

}

// Navbar  css
#mainMenu {
    padding: 25px 0;

    &.fixedClass {
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;
        background: rgba($black, .9);
        padding: 0;
    }

    .absoluteClass {}

    .nav-item {
        padding: 0 8px;

        .nav-link {
            font-size: 18px;
            color: #fff;
            font-weight: 400;
            letter-spacing: 1px;
        }

        .nav-link.active,
        .nav-link:hover {

            color: #0C89D5;
        }

        .nav-link.active {
            position: relative;

            &:after {
                content: '';
                border-left: 2px solid $theme-color;
                position: absolute;
                height: 50px;
                left: 50%;
                transform: rotate(36.5deg);
                top: 0px;
                margin-left: -5px;
            }
        }


    }
}

// end Navbar css

/*Second Menu Css*/
.modal-open {
    .fixedClass {
        overflow-y: scroll;
    }
}

.second-menu {
    .navbar {
        padding: 35px 0 35px;
        @include transition(all 0.3s ease-in-out);

        .nav-item {
            padding: 0 16px;

            .nav-link {
                cursor: pointer;
                font-weight: 400;
            }
        }
    }

    &.fixedClass {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;
        background: rgba($black, .9);

        .navbar {
            padding: 0;
            @include transition(all 0.5s ease-in-out);

            .nav-item {
                .nav-link {
                    font-size: 18px;
                    color: #fff;
                }

                .nav-link.active,
                .nav-link:hover {
                    color: $theme-color;
                }

                .nav-link.active {
                    position: relative;

                    &:after {
                        content: '';
                        border-left: 2px solid $theme-color;
                        position: absolute;
                        height: 50px;
                        left: 50%;
                        transform: rotate(36.5deg);
                        top: 0px;
                        margin-left: -5px;
                    }
                }
            }
        }

        .mb-dropdown {
            display:block;

            &.btn {
                background: none;
                border: none;
                box-shadow: none;
            }

            &:after {
                display: none;
            }

            &:hover,
            &:active,
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        .fa-bars {
            color: $white;
        }

        .navbar-brand {
            display: block;
        }
    }

    &.absoluteClass {
        .navbar {
            .nav-item {
                .nav-link {
                    font-size: 18px;
                    color: rgba($black, .23);
                }

                .nav-link.active,
                .nav-link:hover {
                    color: $theme-color;
                }
            }

            .navbar-brand {
                display: none;
            }
        }

        .mb-dropdown {
            display:none;
        }

    }

    .fa-bars {
        color: $black;
        font-size: 20px;
    }
}

/*End Second Menu css*/

#intro {
    background-image: url("../img/intro-bg.png");
    padding: 250px 0 200px;

    h1 {
        color: $blue;
        font-size: 70px;
        line-height: 84px;
        margin-bottom: 30px;
        text-align: left;
        font-weight: bold;
        letter-spacing: 5px;
    }

    p {
        color: $white;
        font-size: 20px;
        line-height: 25px;
        max-width: 540px;
    }

    ul {
        margin-top: 100px;

        li {
            list-style-type: none;
            display: inline-block;

            &:first-child {
                margin-right: 50px;
            }
        }
    }
}

/*Template css code*/
#template {
    padding-top: 0;
}

/*End Template css code*/
/*Start Common photo background Section*/
.photo-area {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 0;

    .title {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title-inner {
            width: 100%;

            h2 {
                font-size: 90px;
                line-height: 108px;
                font-stretch: 40%;
                font-weight: bold;
                z-index: 1;
                letter-spacing: 4px;
                margin: 0 auto;
                display: block;
                text-align: center;
                position: relative;

                &:before {
                    position: absolute;
                    font-size: 200px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    color: rgba(238, 235, 207, .14);
                    letter-spacing: 4px;
                    font-weight: bold;
                    width: 100%;
                }
            }
        }
    }
}

.content-area {
    padding: 80px 0;

    .photo-content {
        display: flex;
        align-items: center;
        justify-content: center;


        h3 {
            font-size: 45px;
            font-weight: bold;
            line-height: 54px;
            letter-spacing: 5px;
            margin-bottom: 50px;
        }

        p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            color: $black;
            text-align: justify;
        }
    }

}

/*Start Common photo background Section*/
/*Start Filter section*/
.slider-section {
    position: relative;

    p {
        line-height: 28px;
    }
}

#threedSlider {
    .video-template {
        video {
            @include box-shadow(0, 0, 20px, rgba(0, 0, 0, 1));
        }
    }

    .css-1qzevvg {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        z-index: 2;
        width: 100%;
        margin: 0;

        img {
            width: 15px;
            height: 20px;
            cursor: pointer;
            border: solid $theme-color;
            border-width: 0 5px 5px 0;
            display: inline-block;
            padding: 8px;

            &:first-child {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }

            &:last-child {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
    }

    div.css-1qzevvg img:first-child {
        margin-right: 30rem !important;
    }
}

/*End Filter section*/

/*Start slide section*/
#slide {
    padding: 0;

    .photo-area {
        background-image: url("../img/slide-bg.jpg");
    }

    .content-area {
        position: relative;

        .mobile-frame {
            float: right;

            .mobile-frame-content {}
        }

        .img-hover {
            &:after {
                content: none;
            }

            .cls-1,
            .cls-2,
            .cls-3 {
                fill: none;
                stroke-miterlimit: 10;
                stroke-width: 2px;
                stroke: #030303;
            }
        }

        .react-tabs__tab--selected {

            .cls-1,
            .cls-2,
            .cls-3 {
                stroke: $theme-color;
            }
        }

        .circle-position {
            &.right-circle {
                display: none;

                .circle-spin {
                    right: 0;
                }
            }

            &.top-left-circle {
                left: 80px;
                top: 60px;

                .circle-spin {
                    right: inherit;
                    top: 0;

                }
            }
        }

    }

}

/*End Slide section*/
/*Start Photo Edit section*/
#photoEdit {
    padding: 0;

    .photo-area {
        background-image: url("../img/photo-edit-bg.jpg");

    }

    .content-area {
        ul {
            &.content-list {
                li {
                    font-size: 18px;
                    line-height: 35px;
                    padding-left: 10px;
                    text-indent: -10px;

                    i {
                        padding-right: 8px;
                        font-size: 12px;
                    }
                }
            }

        }

        .photo-content {
            .img-hover {
                &:after {
                    content: none;
                }

                i {
                    font-size: 30px;
                }
            }

            .react-tabs__tab--selected {
                .img-hover {
                    i {
                        color: $theme-color;
                    }
                }
            }
        }
    }

}

/*End Photo Edit section*/
/*Start Effect section*/
#effect {
    padding: 0;

    .content-area {
        position: relative;

        .top-circle-left {
            left: 80px;

            .circle-spin {
                bottom: inherit;
            }
        }
    }

}

/*End Effect section*/
/*Start Frame section*/
#frame {
    padding: 0;

    .content-area {
        .mobile-frame {
            width: 418px;
            float: right;
        }
    }

    .frame-slider {

        video {
            max-width: 100%;
        }

        li {
            width: 63px;
            height: 8px;
            background: #000;
            margin: 0 1px;

            &.slick-active {
                background: $theme-color;
            }

            button {
                width: inherit;
                height: inherit;

                &:before {
                    content: '';

                }
            }
        }
    }

}

/*End Frame section*/
/*Start Filter section*/
#filter {
    padding: 0;
    position: relative;

    .mobile-frame-content {
        top: 32px;
    }

    .tab-content {
        .img-hover {
            border: 2px solid #fff;
            @include border-radius(10px);
        }

        #filter-1 {
            &:after {
                background: rgba(#3e82f0, .36);
            }
        }

        #filter-2 {
            &:after {
                background: rgba(#CF3C3C, .36);
            }
        }

        #filter-3 {
            &:after {
                background: rgba(#CFC53C, .36);
            }
        }

        #filter-4 {
            &:after {
                background: rgba(#3CCF59, .36);
            }
        }

        #filter-5 {
            &:after {
                background: rgba(#3C55CF, .36);
            }
        }

        .react-tabs__tab--selected {

            #filter-1,
            #filter-2,
            #filter-3,
            #filter-4,
            #filter-5 {
                &.img-hover {
                    border: 2px solid #0C89D5;
                }

                &:after {
                    background: none;
                }
            }

        }
    }

    .left-circle {
        bottom: 200px;

    }
}

/*End Filter section*/

/*Client Review Css*/
#review {
    background: $white;
    position: relative;

    h2 {}

    .slick-slider {
        padding: 0 50px 50px 50px;

        .slick-list {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        .slick-prev {
            background: url("../img/review-icon-prev.png");

            &:before {
                content: '';
            }
        }

        .slick-next {
            background: url("../img/review-icon-next.png");

            &:before {
                content: '';
            }
        }

        .slick-prev,
        .slick-next {
            width: 60px;
            height: 60px;
        }

        .slick-dots {
            bottom: 0;
            left: 0;

            li {
                &.slick-active {
                    button {
                        &:before {
                            color: $theme-color;
                        }
                    }
                }

                button {
                    &::before {
                        font-size: 12px;
                        color: $theme-color;
                    }
                }

            }
        }

        h3 {
            font-size: 22px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 20px;
        }

        span {
            font-size: 14px;
            line-height: 19px;
        }

        ul.review-icon {
            margin: 30px 0 10px;

            li {
                display: inline-block;
                padding: 0 5px;
                font-size: 20px;

                i {
                    color: $yellow;
                }
            }
        }
    }

    .left-circle {
        .circle-spin {
            left: 0;
            right: inherit;
        }
    }

    .right-circle {}
}

/*End Client Review Css*/
/*Start pricing Review Css*/
#pricing {
    background-image: url("../img/pricing-bg.jpg");

    .title-inner {
        color: $white;
        margin-bottom: 80px;

        .shadow-text {
            font-size: 140px;
        }
    }

    .subconetnt {
        h5 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 80px;
            color: $white;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            color: $white;
            margin-bottom: 60px;
        }
    }



    .price-container {
        display: flex;
        align-content: center;
        justify-content: center;

        .price-panel {
            background: $white;
            margin: 0 85px;
            @include border-radius(20px);
            @include box-shadow(0, 0, 20px, rgba($white, .41));
            width: 330px;
            @include transition(all 0.3s ease-in-out);


            &:hover {
                background: rgba(#0584D1, .75);
            }

            &:hover .price-inner {

                h5,
                h4,
                p {
                    color: $white;
                }

                a {
                    background: none;
                    border: 2px solid #fff;
                }

            }

            .price-inner {
                padding: 35px 50px;

                h5 {
                    margin-top: 25px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    @include transition(all 0.3s ease-in-out);
                }

                h4 {
                    margin-top: 25px;
                    font-size: 24px;
                    @include transition(all 0.3s ease-in-out);
                }

                .cost {
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    margin-top: 30px;
                    display: inline-block;
                    @include transition(all 0.3s ease-in-out);

                    span {
                        margin-top: -10px;
                        display: block;
                        margin-left: 0;
                        font-weight: 100;
                        margin-right: 15px;
                        float: left;
                        font-size: 35px;
                    }
                }

                .btn {
                    background: #04A3DD;
                    color: $white;
                    @include border-radius(20px);
                    font-size: 20px;
                    padding: 0 45px;
                    height: 45px;
                    line-height: 42px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    clear: both;
                    margin-top: 35px;
                    @include transition(all 0.3s ease-in-out);
                    border: 2px solid #04A3DD;
                }

            }
        }

    }

}

/*End pricing Review Css*/

/*Start Faqs Css*/
#faqs {
    position: relative;

    .accordion-menu {
        .MuiExpansionPanel-rounded {
            background: #0584D1;
            margin-bottom: 30px;
            @include border-radius(14px);
            @include box-shadow(0, 3px, 6px, rgba(0, 3, 6, .16));

            &:before {
                background: none;
            }

            .MuiExpansionPanelSummary-content {
                p {
                    color: $white;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 22px;
                    letter-spacing: 1px;
                    font-family: $body-font;
                }
            }

            .MuiTypography-body1 {
                font-size: 15px;
                line-height: 22px;
                font-family: $body-font;
            }

            .MuiExpansionPanelDetails-root {
                padding: 0px 24px 35px;
            }

            .MuiSvgIcon-root {
                fill: $white;
                width: 30px;
                height: 30px;
            }
        }

        .Mui-expanded {
            &.MuiExpansionPanel-rounded {
                background: $white;

                .MuiExpansionPanelSummary-content {
                    p {
                        color: $theme-color;
                    }
                }

                .MuiSvgIcon-root {
                    fill: $theme-color;
                }
            }
        }
    }

}

/*End Faqs Css*/

/*Start Get in Touch Css*/
#getInTouch {
    background-image: url("../img/get-in-touch-bg.png");
    background-size: auto;

    .pic-overlay {
        background: rgba(1, 1, 1, 0.5);
    }

    .title-inner {
        color: $white;
        margin-bottom: 100px;


        .shadow-text {
            font-size: 185px;
        }

    }

    .contact-info {
        h3 {
            color: #fff;
            font-size: 24px;
            margin: 0px 0 25px;
        }

        .weblink {
            margin: 40px 0 40px;

            a {
                text-decoration: none;
                color: $white;

            }
        }

        .apps-logo {
            margin-top: 70px;

            li {
                &:first-child {
                    margin-right: 22px;
                }

                img {
                    width: 190px;
                }
            }

        }
    }

    .contact-form {

        .form-group {
            margin-top: 25px;

            &:first-child {
                margin-top: 0;
            }
        }

        input,
        textarea,
        button {
            @include border-radius(17px);
            height: 56px;
            border: 2px solid #0C89D5;
            box-shadow: none;
            background: none;
            color: #fff !important;
            font-size: 16px;
            font-weight: bold;
            font-family: $body-font;
        }

        textarea {
            height: 220px;
        }

        button {
            background: #0584D1;
            border: none;
            height: 42px;
            padding: 0 40px;
        }
    }
}

/*End  Get in Touch Css*/

/*Start Footer Css*/
#footer {
    position: relative;
    background: $footer-bg;
    padding: 38px 0;

    .footer-menu {
        ul {
            margin-left: -15px;

            li {
                padding: 0 15px;
                color: #fff;
                font-size: 15px;
                border-right: 1px solid $white;

                &:last-child {
                    border-right: none;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    line-height: 32px;
                    cursor: pointer;

                }
            }
        }
    }


    .social-icon {
        ul {
            li {
                display: inline-block;

                a.follows {
                    text-decoration: none;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    margin: 0 15px;
                    line-height: 32px;

                    i {
                        width: 32px;
                        height: 32px;
                        background: rgba($theme-color, 1);
                        text-align: center;
                        @include border-radius(50%);
                        text-align: center;
                        line-height: 32px;
                        font-size: 16px;
                        @include transition(all 0.3s ease-in-out);

                        &:hover {
                            background: rgba($theme-color, 0.8);
                        }
                    }
                }
            }
        }
    }
}

/*End Footer Css*/

/*Feature*/
.clip-border {
    background: -webkit-linear-gradient(300deg, #aebcbf 0%, #6e7774 50%, #333 61%, #333 100%);
    background: linear-gradient(150deg, #aebcbf 0%, #6e7774 50%, #333 61%, #333 100%);
    width: 160px;
    height: 160px;
    margin-top: 7px;
    color: #222;
}

.clip-each {
    display: block;
    position: relative;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 0 auto;
}

.clip-caption {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.clip-border::after {
    content: "";
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    margin: 0 auto;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    z-index: -1;
}

.feature-box {
    position: relative;
    z-index: 9;
    min-height: 530px;
    list-style-type: none;

    h4 {
        font-size: 30px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    a {
        font-size: 15px;
        font-weight: 100;
    }

    // .feature-1 {
    //     position: absolute;
    //     left: 0;
    // }

    // .feature-2 {
    //     position: absolute;
    //     bottom: 0;
    //     left: 23.5%;
    // }

    // .feature-3 {
    //     position: absolute;
    //     right: 23.5%;
    // }

    // .feature-4 {
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    // }

    // li {
    //     display: inline-block;
    //     position: relative;
    //     width: 165px;
    //     height: 285px;
    //     border-top: 2px solid rgba(0, 0, 0, .4);
    //     border-bottom: 2px solid rgba(0, 0, 0, .4);
    //     -webkit-transition: .5s border-color;
    //     transition: .5s border-color;
    //     cursor: pointer;
    //     margin: 10px 84px;
    //     opacity: 1;

    //     &:before {
    //         -webkit-transform: rotate(60deg);
    //         transform: rotate(60deg);
    //     }

    //     &:after {
    //         -webkit-transform: rotate(-60deg);
    //         transform: rotate(-60deg);
    //     }

    //     &:after,
    //     &:before {
    //         content: '';
    //         position: absolute;
    //         width: 100%;
    //         height: -webkit-calc(100% + 4px);
    //         height: calc(100% + 4px);
    //         border-bottom: inherit;
    //         border-top: inherit;
    //         bottom: -2px;
    //     }

    //     .content {
    //         position: relative;
    //         top: 50%;
    //         left: 50%;
    //         -webkit-transform: translate(-50%, -50%);
    //         transform: translate(-50%, -50%);
    //         width: auto;
    //         color: $black;
    //         text-align: center;
    //         font-size: 1rem;
    //         z-index: 2;
    //     }

    //     .hover {
    //         position: absolute;
    //         width: 200%;
    //         height: 100%;
    //         top: 0;
    //         bottom: 0;
    //         left: 50%;
    //         -webkit-transform: translateX(-50%);
    //         transform: translateX(-50%);
    //         background: transparent;
    //         -webkit-transition: all .3s ease-in-out;
    //         transition: all .3s ease-in-out;
    //         z-index: 1;
    //         -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    //         clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    //     }

    //     &:hover .hover {
    //         background: linear-gradient(to right, #5BB1E5, #002BFF);
    //         transition: all .3s ease-in-out;
    //     }

    //     &:nth-child(even) {
    //         margin-top: 100px;
    //     }

    //     h3 {
    //         color: $black;
    //     }

    //     p {
    //         color: $black;
    //     }

    //     a {
    //         color: $black;
    //     }
    // }
}

.vimory-btn {
    border: 2px solid #fff;
    border-radius: 20px;
    color: $black;
}

.feature-1 {
    position: absolute;
    left: 85px;
    top: 0;
}

.feature-2 {
    position: absolute;
    left: 31%;
    bottom: 0;
}

.feature-3 {
    position: absolute;
    right: 31%;
    top: 0;
}

.feature-4 {
    right: 85px;
    position: absolute;
    bottom: 0;
}

.brk-sc-honeycomb-one_wide-shadow {
    box-shadow: 0 0 8px rgba(0, 0, 0, .55);
}

.brk-sc-honeycomb-one {
    width: 162px;
    height: 280px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .55);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 30px 0;
    background-color: #fff;
}

.brk-sc-honeycomb-one:after,
.brk-sc-honeycomb-one:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: inherit;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    background-color: #fff;
}

.brk-sc-honeycomb-one:before {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
    transform: translate(-50%, -50%) rotate(60deg);
}

.brk-sc-honeycomb-one_hide-btn .brk-sc-honeycomb-one__content {
    padding-top: 50px;
}

.brk-sc-honeycomb-one__content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    /* -webkit-transition-property: padding-top,background-color; */
    /* transition-property: padding-top,background-color; */
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    padding-top: 50px;
}

.brk-sc-honeycomb-one__p {
    margin-left: -35px;
    margin-right: -35px;
}

.brk-sc-honeycomb-one__hide-btn {
    opacity: 1;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
}

.brk-sc-honeycomb-one__layer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 203%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.brk-base-bg-gradient-14 {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--brk-base-3)), to(var(--secondary)));
    background-image: linear-gradient(to right, var(--brk-base-3), var(--secondary));
}

.brk-sc-honeycomb-one__hex-1,
.brk-sc-honeycomb-one__hex-2 {
    position: absolute;
    background: inherit;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.brk-sc-honeycomb-one__hex-1 {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
    transform: translate(-50%, -50%) rotate(60deg);
}

.brk-sc-honeycomb-one__hex-2 {
    -webkit-transform: translate(-50%, -50%) rotate(-60deg);
    transform: translate(-50%, -50%) rotate(-60deg);
}

.brk-sc-honeycomb-one:after {
    -webkit-transform: translate(-50%, -50%) rotate(-60deg);
    transform: translate(-50%, -50%) rotate(-60deg);
}

.brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__content {
    padding-top: 50px;
}

.brk-sc-honeycomb-one_hide-btn:hover .brk-sc-honeycomb-one__header,
.brk-sc-honeycomb-one_hide-btn:hover .brk-sc-honeycomb-one__p {
    color: #fff;
}

.brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__layer {
    opacity: 1;
}

.brk-base-bg-gradient-14 {
    @include linear-gradient(to right, $gardient-frame1, $gardient-frame2);
}

.btn-prime {
    border: 0;
    box-shadow: 0 5px 16px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-prime-primary-transparent,
.btn-prime-white-transparent {
    background: $theme-color;
    color: #fff;
}

/*All Animation circle css*/
.circle-position {
    position: absolute;
    display: none;

    &.one-circle {

        .circle-wrapper {
            position: relative;

            .orbit {
                border: 8px solid $animation-border;
            }

            .circle-spin {
                width: 142px;
                height: 142px;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                right: 0;
                animation: spin-right 5s linear infinite;
            }
        }

        .first-circle {
            height: 34px;
            width: 34px;
            @include linear-gradient(to bottom, $gardient-pink1, $gardient-pink2);
            position: absolute;
            border-radius: 50%;
            top: 0;
            right: 0;
        }
    }
}


/*Animation With Two circle*/

.circle-position {
    &.left-circle {
        left: 80px;
        bottom: 60px;
    }

    &.right-circle {
        right: 80px;
        bottom: 60px;
    }

    &.two-circle {
        .circle-wrapper {
            position: relative;
        }

        .orbit {
            border: 8px solid $animation-border;
        }

        .circle-spin {
            width: 208px;
            height: 208px;
            animation: spin-right 5s linear infinite;
            position: absolute;
            border: 8px solid $animation-border;
            @include border-radius(50%);
            bottom: 0;

            .first-circle {
                width: 64px;
                height: 64px;
                @include linear-gradient(to bottom, $gardient-blue1, $gardient-blue2);
                border-radius: 50%;
                top: 0;
                right: 0;
                position: absolute;

                .outer-orbit-small {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    top: 0;
                    right: 0;
                    position: absolute;
                    animation: spin-right 2s linear infinite;

                    .small {
                        width: 20px;
                        height: 20px;
                        @include linear-gradient(to bottom, $gardient-blue1, $gardient-blue2);
                        border-radius: 50%;
                        position: absolute;
                        left: 90px;

                    }
                }

            }
        }

    }
}

//         .orbit {
//             border: 14px solid #99c9e645;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             border-radius: 50%;
//         }
//             .mercury-orbit {
//                 width: 200px;
//                 height: 200px;
//                 margin-left: -100px;
//                 margin-top: -100px;
//             }

//             .mercury-spin {
//                 width: 200px;
//                 height: 200px;
//                 margin-left: -100px;
//                 margin-top: -100px;
//animation: spin-right 10s linear infinite;
//             }


//         #mercury {
//             margin-top: -23px;
//             margin-left: -23px;
//             height: 60px;
//             width: 60px;
//             background: linear-gradient(90deg, #6EBCEB, #0066FF);
//         }

//     }
// }


@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

/*End All Animation circle css*/

/*Responsive css*/


.circle-left-bottom {

    position: absolute;
    right: 100px;
    bottom: 0;
}

/*Start Responsive Code here it is written for Mobile, Tablet,iPad */
@media (max-width: 767px) {
    section {
        padding: 40px 0;

        h2 {
            margin: 0 0 0 20px;
            font-size: 30px;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #intro {
        padding: 80px 0 0 0;

        h1 {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            margin-top: 30px;
        }

        p {
            font-size: 16px;
            text-align: center;
        }

        ul {
            display: block;
            text-align: center;
            margin: 30px 0 50px;

            li {
                &:first-child {
                    margin: 0 10px;
                }

                margin:0 10px;
            }

            img {
                width: 120px;
            }
        }
    }

    /*Get In Touch Section */
    #getInTouch {
        .title-inner {
            margin-bottom: 0;

            h2 {
                font-size: 30px;

                .shadow-text {
                    font-size: 40px;
                }
            }
        }

        .contact-info {
            .weblink {
                margin: 25px 0 30px;
            }

            .apps-logo {
                margin-top: 0;

                ul {
                    li {
                        &:first-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

/*End Get In Touch Section */
#footer {
    .footer-menu {
        ul {
            text-align: center;
            display: block;

            li {
                display: inline-block;

                a {}
            }
        }
    }

    .social-icon {
        ul {

            li {}
        }
    }
}

/*End Responsive Code here it is written for Mobile, Tablet,iPad */