/*theme Setting*/
@font-face {
    font-family: 'helveticaregular';
    src: url('../../assets/fonts/helvetica-webfont.woff2') format('woff2'),
        url('../../assets/fonts/helvetica-webfont.ttf') format('ttf'),
        url('../../assets/fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$heading-font:'helveticaregular';
$body-font: 'helveticaregular';
$theme-color:#0584D1;
$white:#fff;
$black:#000;
$grey-white:#ddd;
$grey-black:#f8f8f8;
$blue:#0C89D5;
$footer-bg:#161D24;
$social-icon:#1DA1F2;

/*All Cross browser CSS3 mixins*/
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-transition: $radius;
    -o-transition: $radius;
}

@mixin box-shadow($left, $top, $blur, $color) {
    box-shadow: $left $top $blur $color;
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -ms-transition: $left $top $blur $color;
    -o-transition: $left $top $blur $color;
}

/*End All Cross browser CSS3 mixins*/
body {
    font-family: $body-font;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

p,
span {
    font-family: $body-font;
    font-size: 20px;
    line-height: 25px;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    font-family: $body-font;
    text-decoration: none;
}

.section-header {
    padding-bottom: 25px;
}

section {
    padding: 80px 0;
}

.section-title {
    margin: 0 0 60px;

    h2 {
        margin: 0 0 30px;
    }
}

.text-center {
    text-align: center;
}

.title {
    h2 {
        text-align: center;
        color: $white;
    }
}

.shadow-title {
    h2 {
        font-size: 90px;
        line-height: 108px;
        font-stretch: 40%;
        font-weight: bold;
        z-index: 1;
        letter-spacing: 4px;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;
    }
}
    .shadow-text {
        position: absolute;
        font-size: 200px;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        z-index: -1;
        color: rgba(238, 235, 207, .14);
        letter-spacing: 4px;
        font-weight: bold;
        width: 100%;
    }


.pic-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(1, 1, 1, .40);
}

/*Back To Top Css*/
#backTop {
    right: 30px;
    position: fixed;
    z-index: 999999;
    bottom: 130px;

    .back-top {
        color: #fff;
        background: $theme-color;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        border-radius: 50%;
        display: none;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;

        &.active {
            @include transition(all 0.3s ease-in-out);
            display: block;


        }
    }


}

/*Svg icon Css*/
svg {

    .cls-2 {
        fill: #030303;
        stroke: #000;
    }
}

.react-tabs__tab--selected {
    .cls-2 {
        fill: $theme-color;
        stroke: $theme-color;
    }
}

.emoji {

    .cls-1,
    .cls-2,
    .cls-3 {
        fill: none;
    }

    .cls-2,
    .cls-3,
    .cls-4 {
        stroke: #000;
    }

    .cls-2 {
        stroke-width: 2.5px;
    }

    .cls-3 {
        stroke-width: 2px;
    }

    .cls-4 {
        fill: #030303;
    }

    .cls-5 {
        stroke: none;
    }
}

/*End svg Icon css */

/*End Back To Top Css*/
.mobile-frame {
    position: relative;

    .mobile-frame-content {
        position: absolute;
        top: 30px;
        left: 37px;
        z-index: 99;

        video {
            border-radius: 36px;
            border-top: 3px solid #000;
        }
    }
}

/*Start Common css for Apps logo*/
.apps-logo {
    list-style-type: none;

    li {
        display: inline-block;

        a {
            display: block;
        }
    }
}

/*End Common css for Apps logo*/

/*Start Common Photo with content Section*/
.photo-with-content {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    .title {

        .title-inner {
            width: 100%;

            // h2 {
            //     font-size: 90px;
            //     line-height: 108px;
            //     font-stretch: 40%;
            //     font-weight: bold;
            //     z-index: 1;
            //     letter-spacing: 4px;
            //     margin: 0 auto;
            //     display: block;
            //     text-align: center;
            //     position: relative;

            //     .shadow-text {
            //         position: absolute;
            //         font-size: 200px;
            //         left: 50%;
            //         transform: translateX(-50%);
            //         z-index: -1;
            //         color: rgba(238, 235, 207, .14);
            //         letter-spacing: 4px;
            //         font-weight: bold;
            //         width: 100%;
            //     }
            // }
        }
    }
}

/* common Tab content css*/
.tab-content-info {
    display: flex;
}

.tab-content {
    .react-tabs__tab-panel--selected {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .react-tabs__tab-list {
        display: block;
        margin: 0 auto;
        text-align: center;
        border: 0;
        margin: 40px auto 0;

        .react-tabs__tab {
            border: 0;
            margin: 0 50px;

            &.react-tabs__tab--selected {
                span {
                    color: $theme-color;
                }

                .img-hover {
                    position: relative;

                    &:after {
                        background: none;
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        @include border-radius(10px);
                    }
                }
            }

            img {
                display: block;
                @include border-radius(10px);
            }

            span {
                display: block;
                font-size: 20px;
                line-height: 30px;
                margin-top: 15px;
            }

            &:focus {
                box-shadow: none;
            }

            .img-hover {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    @include border-radius(10px);
                }
            }
        }

    }
}

/* Common Tab content css*/
/*End photo with content Section*/
.back-img {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#appFeature {
    h2 {
        letter-spacing: 3px;
    }
}

#getToday {
    background-image: url("../img/get-today-bg.png");
    padding: 150px 0 150px;
    position: relative;
    
    .shadow-text{
        top: 185px;
        z-index: 1;
    }
    
    // h2 {
    //     font-size: 90px;
    //     line-height: 108px;
    //     font-stretch: 40%;
    //     font-weight: bold;
    //     position: relative;
    //     width: 1072px;
    //     z-index: 1;
    //     letter-spacing: 5px;
    //     margin: 0 auto;
    //     display: block;
    //     text-align: left;

    //     &:before {
    //         content: "Get it Today";
    //         position: absolute;
    //         font-size: 185px;
    //         left: 0;
    //         right: 0;
    //         z-index: -1;
    //         color: rgba(238, 235, 207, .14);
    //         letter-spacing: 5px;
    //     }

    // }

    p {
        font-size: 20px;
        line-height: 25px;
        color: $white;
        margin-top: 90px;
        text-align: justify;
    }

    ul {
        margin-top: 100px;

        li {
            list-style-type: none;
            display: inline-block;

            &:first-child {
                margin-right: 22px;
            }

            img {
                width: 230px;
            }
        }
    }

    .mobile-frame {
        float: right;
    }

}

// Navbar  css
#mainMenu {
    padding: 25px 0;

    .nav-item {
        .nav-link {
            font-size: 18px;
            color: #fff;
        }

        .nav-link.active,
        .nav-link:hover {
            color: #0C89D5;
        }
    }
}

// end Navbar css

#intro {
    background-image: url("../img/intro-bg.png");
    padding: 250px 0 200px;

    h1 {
        color: $blue;
        font-size: 70px;
        line-height: 84px;
        margin-bottom: 30px;
        text-align: justify;
        font-weight: bold;
        letter-spacing: 5px;
    }

    p {
        color: $white;
        font-size: 20px;
        line-height: 25px;
    }

    ul {
        margin-top: 100px;

        li {
            list-style-type: none;
            display: inline-block;

            &:first-child {
                margin-right: 50px;
            }
        }
    }
}

/*Start Common photo background Section*/
.photo-area {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 0;

    .title {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title-inner {
            width: 100%;

            h2 {
                font-size: 90px;
                line-height: 108px;
                font-stretch: 40%;
                font-weight: bold;
                z-index: 1;
                letter-spacing: 4px;
                margin: 0 auto;
                display: block;
                text-align: center;
                position: relative;

                &:before {
                    position: absolute;
                    font-size: 200px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    color: rgba(238, 235, 207, .14);
                    letter-spacing: 4px;
                    font-weight: bold;
                    width: 100%;
                }
            }
        }
    }
}

.content-area {
    padding: 80px 0;

    .photo-content {
        display: flex;
        align-items: center;
        justify-content: center;


        h3 {
            font-size: 45px;
            font-weight: bold;
            line-height: 54px;
            letter-spacing: 5px;
        }

        p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            color: $black;
            text-align: justify;
        }
    }

}

/*Start Common photo background Section*/
/*Start Filter section*/
#templateBg {}

#threedSlider {
    .video-template {
        video {
            max-width: 100%;
        }
    }

    .slide-img {
        @include box-shadow(0, 0, 20px, rgba(0, 0, 0, 1));
    }

    .css-1qzevvg {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        z-index: 2;
        width: 100%;
        margin: 0;

        img {
            width: 15px;
            height: 20px;
            cursor: pointer;

        }
    }

    div.css-1qzevvg img:first-child {
        margin-right: 30rem !important;
    }
}

/*End Filter section*/

/*Start slide section*/
#Slide {
    padding: 0;

    .photo-area {
        background-image: url("../img/slide-bg.jpg");
    }

    .content-area {
        .mobile-frame {
            float: right;

            .mobile-frame-content {}
        }
    }
}

/*End Slide section*/
/*Start Photo Edit section*/
#photoEdit {
    padding: 0;

    .photo-area {
        background-image: url("../img/photo-edit-bg.jpg");

    }

    .content-area {
        ul {
            li {
                font-size: 18px;
                line-height: 35px;
                padding-left: 10px;
                text-indent: -10px;

                i {
                    padding-right: 8px;
                    font-size: 12px;
                }
            }
        }
    }

}

/*End Photo Edit section*/
/*Start Effect section*/
#effect {
    padding: 0;
}

/*End Effect section*/
/*Start Frame section*/
#frame {
    padding: 0;

    .content-area {
        .mobile-frame {
            width: 418px;
            float: right;
        }
    }

    .frame-slider {

        video {
            max-width: 100%;
        }

        li {
            width: 63px;
            height: 8px;
            background: #000;
            margin: 0 1px;

            &.slick-active {
                background: $theme-color;
            }

            button {
                width: inherit;
                height: inherit;

                &:before {
                    content: '';

                }
            }
        }
    }

}

/*End Frame section*/
/*Start Filter section*/
#filter {
    padding: 0;

    .tab-content {
        .img-hover {
            border: 2px solid #fff;
            @include border-radius(10px);
        }

        #filter-1 {
            &:after {
                background: rgba(#CF3C3C, .36);
            }
        }

        #filter-2 {
            &:after {
                background: rgba(#CF3C3C, .36);
            }
        }

        #filter-3 {
            &:after {
                background: rgba(#CFC53C, .36);
            }
        }

        #filter-4 {
            &:after {
                background: rgba(#3CCF59, .36);
            }
        }

        #filter-5 {
            &:after {
                background: rgba(#3C55CF, .36);
            }
        }

        .react-tabs__tab--selected {

            #filter-1,
            #filter-2,
            #filter-3,
            #filter-4,
            #filter-5 {
                &.img-hover {
                    border: 2px solid #0C89D5;
                }

                &:after {
                    background: none;
                }
            }

        }
    }

}

/*End Filter section*/

/*Client Review Css*/
#review {
    background: $white;

    h2 {}

    .slick-slider {
        padding-bottom: 50px;

        .slick-dots {
            bottom: 0;

            li {
                button {
                    &::before {
                        font-size: 12px;
                    }
                }

            }
        }

        h3 {
            font-size: 22px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 20px;
        }

        span {
            font-size: 14px;
            line-height: 19px;
        }

        ul.review-icon {
            margin: 30px 0 10px;

            li {
                display: inline-block;
                padding: 0 5px;
                font-size: 20px;

                i {
                    color: $blue;
                }
            }
        }
    }

}

/*End Client Review Css*/
/*Start pricing Review Css*/
#pricing {
    background-image: url("../img/pricing-bg.jpg");

    .title-inner {
        color: $white;
        margin-bottom: 80px;

        .shadow-text {
            font-size: 140px;
        }
    }

    .subconetnt {
        h5 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 80px;
            color: $white;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            color: $white;
            margin-bottom: 60px;
        }
    }



    .price-container {
        display: flex;
        align-content: center;
        justify-content: center;

        .price-panel {
            background: $white;
            margin: 0 85px;
            @include border-radius(20px);
            border: 1px solid #707070;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
            width: 330px;
            @include transition(all 0.3s ease-in-out);


            &:hover {
                background: rgba(#0584D1, .75);
            }

            &:hover .price-inner {

                h5,
                h4,
                p {
                    color: $white;
                }

                a {
                    background: none;
                    border: 2px solid #fff;
                }

            }

            .price-inner {
                padding: 35px 50px;

                h5 {
                    margin-top: 25px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    @include transition(all 0.3s ease-in-out);
                }

                h4 {
                    margin-top: 25px;
                    font-size: 24px;
                    @include transition(all 0.3s ease-in-out);
                }

                .cost {
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    margin-top: 30px;
                    display: inline-block;
                    @include transition(all 0.3s ease-in-out);

                    span {
                        margin-top: -10px;
                        display: block;
                        margin-left: 0;
                        font-weight: 100;
                        margin-right: 15px;
                        float: left;
                        font-size: 35px;
                    }
                }

                .btn {
                    background: #04A3DD;
                    color: $white;
                    @include border-radius(20px);
                    font-size: 20px;
                    padding: 0 45px;
                    height: 45px;
                    line-height: 42px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    clear: both;
                    margin-top: 35px;
                    @include transition(all 0.3s ease-in-out);
                    border: 2px solid #04A3DD;
                }

            }
        }

    }

}

/*End pricing Review Css*/

/*Start Faqs Css*/
#faqs {
    .accordion-menu {
        .card {
            border: 0;

            .card-header {
                background: #0584D1;
                height: 50px;
                margin-bottom: 30px;
                @include border-radius(14x);
                @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, .16));

                h5 {
                    color: $white;
                    height: 50px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 22px;
                    letter-spacing: 1px;

                }

                i {
                    float: right;
                }
            }

            .card-body {
                p {
                    font-size: 15px;
                    line-height: 22px;
                }
            }


        }

    }
}

/*End Faqs Css*/

/*Start Get in Touch Css*/
#getInTouch {
    background-image: url("../img/get-in-touch-bg.png");
    background-size: auto;

    .pic-overlay {
        background: rgba(1, 1, 1, 0.5);
    }

    .title-inner {
        color: $white;
        margin-bottom: 100px;

        h2 {
            .shadow-text {
                font-size: 180px;
                top: 30px;
            }
        }
    }

    .contact-info {
        h3 {
            color: #fff;
            font-size: 24px;
            margin: 0px 0 25px;
        }

        .weblink {
            margin: 40px 0 40px;

            a {
                display: block;
                text-decoration: none;
                color: $white;

            }
        }

        .apps-logo {
            margin-top: 70px;

            li {
                &:first-child {
                    margin-right: 22px;
                }

                img {
                    width: 190px;
                }
            }

        }
    }

    .contact-form {

        .form-group {
            margin-top: 25px;

            &:first-child {
                margin-top: 0;
            }
        }

        input,
        textarea,
        button {
            @include border-radius(17px);
            height: 56px;
            border: 2px solid #0C89D5;
            box-shadow: none;
            background: none;
            color: #fff !important;
            font-size: 16px;
            font-weight: bold;
            font-family: $body-font;
        }

        textarea {
            height: 220px;
        }

        button {
            background: #0584D1;
            border: none;
            height: 42px;
            padding: 0 40px;
        }
    }
}

/*End  Get in Touch Css*/

/*Start Footer Css*/
#footer {
    position: relative;
    background: $footer-bg;
    padding: 38px 0;

    .footer-menu {
        ul {
            margin-left: -15px;

            li {
                padding: 0 15px;
                color: #fff;
                font-size: 15px;
                border-right: 1px solid $white;

                &:last-child {
                    border-right: none;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    line-height: 32px;

                }
            }
        }
    }


    .social-icon {
        ul {
            li {
                display: inline-block;

                a.follows {
                    text-decoration: none;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    margin: 0 15px;
                    line-height: 32px;

                    i {
                        width: 32px;
                        height: 32px;
                        background: rgba($theme-color, 0.8);
                        text-align: center;
                        @include border-radius(50%);
                        text-align: center;
                        line-height: 32px;
                        font-size: 16px;
                        @include transition(all 0.3s ease-in-out);

                        &:hover {
                            background: rgba($theme-color, 1);
                        }
                    }
                }
            }
        }
    }
}

/*End Footer Css*/

/*Feature*/
.feature-box {
    position: relative;
    z-index: 9;
    min-height: 530px;

    .feature-1 {
        position: absolute;
        left: 0;
    }

    .feature-2 {
        position: absolute;
        bottom: 0;
        left: 23.5%;
    }

    .feature-3 {
        position: absolute;
        right: 23.5%;
    }

    .feature-4 {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    li {
        display: inline-block;
        position: relative;
        width: 165px;
        height: 285px;
        border-top: 2px solid rgba(0, 0, 0, .4);
        border-bottom: 2px solid rgba(0, 0, 0, .4);
        -webkit-transition: .5s border-color;
        transition: .5s border-color;
        cursor: pointer;
        margin: 10px 84px;
        opacity: 1;

        &:before {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
        }

        &:after {
            -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: -webkit-calc(100% + 4px);
            height: calc(100% + 4px);
            border-bottom: inherit;
            border-top: inherit;
            bottom: -2px;
        }

        .content {
            position: relative;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: auto;
            color: $black;
            text-align: center;
            font-size: 1rem;
            z-index: 2;
        }

        .hover {
            position: absolute;
            width: 200%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background: transparent;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            z-index: 1;
            -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        }

        &:hover .hover {
            background: linear-gradient(to right, #5BB1E5, #002BFF);
            transition: all .3s ease-in-out;
        }

        &:nth-child(even) {
            margin-top: 100px;
        }

        h3 {
            color: $black;
        }

        p {
            color: $black;
        }

        a {
            color: $black;
        }
    }
}



/*Responsive css*/